*{
    margin: 0;
    padding: 0;
}

body{
    transition: background-color 3s;
    transition: color 3s;
    color: rgb(5, 63, 118);
}

::-webkit-scrollbar{
    visibility: hidden;
}

.player{
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgb(57, 128, 243);
    transition: background-color 3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    height: 69px;
    width: 69px;
    border-top: 4px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1000000;
    justify-content: center;
    align-items: center;
    animation: spin 700ms linear infinite;
}

.detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art-pause{
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.track-art-play{
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: spin 7s linear infinite;
}

.now-playing{
    font-size: 1rem;
}
.track-name{
    font-size: 3rem;
}
.track-artist{
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.playpause-track, .prev-track, .next-track{
    padding: 25px;
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0.8;
    transition: opacity 2s;
}
.slider_container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.seek_slider, .volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: 2s;
    transition: opacity 2s;
}
.seek-slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.seek_slider:hover, .volume_slider:hover{
    background-color: green;
    opacity: 1.0;
}
.seek_slider{
    width: 60%;
    margin: 17px;
}
.volume_slider{
    width: 30%;
    margin: 17px;
}
.current-time, .total-duration{
    padding: 10px;
}
i.fa-volume-down, i.fa-volume-up{
    padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward{
    cursor: pointer;
}
li > button {
    border: none;
    background: hotpink;
    font-size: 20px;
    transition: font-size 300ms;
    padding: 10px;
}
li > button:hover{
    color: rgb(59, 99, 194);
    font-size: 21px;
    transition: font-size 300ms;
}
.offcanvas-title{
    font-size: 30px;
    font-weight: bold;
}
.offcanvas{
    background-color: hotpink;
    overflow-y: auto;
    scrollbar-width: 2px;
}
.player-container{
    display: flex;
    justify-content: center;
}

.black{
    background-color: rgb(5, 63, 118);
    color: hotpink;
}

@media screen and (max-width: 1024px){
    .player-container{
        display: flex;
        flex-direction: column;
    }
    .buttons{
        align-items: center;
        justify-content: center;
    }
    #volume{
        display: none;
    }
    .track-name{
        font-size: 1.5rem;
    }
    .track-artist{
        font-size: 1.2rem;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
